<div class="container-fluid">
    @Html.ActionLink("Create new section", "Create", "ContentSections", null, new { area = "Admin", Href = "/Admin/ContentSections/Create" })
    <h2>Content sections list</h2>
</div>