<section class="about-me">
    <div class="container">
        <div class="header">
            <div class="border-vertical"></div>
            <h2>ABOUT ME</h2>
            <div class="border-vertical"></div>
        </div>        
        <div class="content">
            <div class="image">
                <div class="wrapper">
                    <img src="~/Images/Home/About/profile.png"/>
                </div>
            </div>
            <div class="subtitle">
                <h3>I AM A FRONT-END MONSTER</h3>
            </div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida nisl vel erat placerat,
                    et pulvinar massa accumsan. In eu velit faucibus, maximus neque sed, gravida mauris. Donec cursus 
                    congue massa eu volutpat. Phasellus rutrum orci turpis, eget porta ligula pulvinar ac. Nulla lacus 
                    nulla, auctor et ipsum a, tincidunt fermentum velit.
                </p>
                <p>
                    Proin vel porttitor lectus. In tincidunt, sem sed tristique tempus, nibh urna faucibus magna, dictum 
                    varius nisl risus ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada
                    fames ac turpis egestas. Nullam scelerisque id lectus et tempor. Nunc euismod arcu ac dignissim 
                    molestie. Quisque in elit faucibus dolor efficitur ultricies. Praesent dignissim velit vitae vulputate 
                    sagittis. Proin iaculis enim non dictum pellentesque. 
                </p>
            </div>
            <div class="download-cv">
                <button class="btn-grey">
                    LEARN MORE ABOUT ME (CV)
                </button>
                <div class="border-vertical"></div>
            </div>
        </div>        
    </div>
</section>