<section class="my-portfolio">
   
    <div class="top-icon">
        <i class="ion-ios-box-outline"></i>
    </div>

    <div class="header">
        <h2>
            I HARDWORK EVERY DAY<br />
            AND STRIVE TO CREATE THE BEST VALUE
        </h2>
    </div>
    <div id="portfolio-gallery" class="my-portfolio-preview">
        <div class="portfolio-list">
            <div class="portfolio-item-sizer"></div>
            <div class="portfolio-item">
                <div class="filter-image">
                    <div class="overlay"></div>
                    <a href="#">
                        <img src="~/Images/Home/Portfolio/slyfer.png"/>
                        <div class="description">
                            <h2>theSlyfer</h2>
                            <h3>Javascript</h3>
                        </div>
                    </a>
                </div>
            </div>
                
            <div class="portfolio-item">
                <div class="filter-image">
                    <div class="overlay"></div>
                    <a href="#">
                        <img src="~/Images/Home/Portfolio/slyfer.png" />
                        <div class="description">
                            <h2>theSlyfer</h2>
                            <h3>Javascript</h3>
                        </div>
                    </a>
                </div>
            </div>
                
            <div class="portfolio-item">
                <div class="filter-image">
                    <div class="overlay"></div>
                    <a href="#">
                        <img src="~/Images/Home/Portfolio/slyfer.png" />
                        <div class="description">
                            <h2>theSlyfer</h2>
                            <h3>Javascript</h3>
                        </div>
                    </a>
                </div>
            </div>
                
            <div class="portfolio-item">
                <div class="filter-image">
                    <div class="overlay"></div>
                    <a href="#">
                        <img src="~/Images/Home/Portfolio/slyfer.png" />
                        <div class="description">
                            <h2>theSlyfer</h2>
                            <h3>Javascript</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="portfolio-item">
                <div class="filter-image">
                    <div class="overlay"></div>
                    <a href="#">
                        <img src="~/Images/Home/Portfolio/slyfer.png" />
                        <div class="description">
                            <h2>theSlyfer</h2>
                            <h3>Javascript</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="portfolio-item">
                <div class="filter-image">
                    <div class="overlay"></div>
                    <a href="#">
                        <img src="~/Images/Home/Portfolio/slyfer.png" />
                        <div class="description">
                            <h2>theSlyfer</h2>
                            <h3>Javascript</h3>
                        </div>
                    </a>
                </div>
            </div>
                
            <div class="portfolio-item">
                <div class="filter-image">
                    <div class="overlay"></div>
                    <a href="#">
                        <img src="~/Images/Home/Portfolio/slyfer.png" />
                        <div class="description">
                            <h2>theSlyfer</h2>
                            <h3>Javascript</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="portfolio-item">
                <div class="filter-image">
                    <div class="overlay"></div>
                    <a href="#">
                        <img src="~/Images/Home/Portfolio/slyfer.png" />
                        <div class="description">
                            <h2>theSlyfer</h2>
                            <h3>Javascript</h3>
                        </div>
                    </a>
                </div>
            </div>
                       
        </div>
    </div>   
    
    <div class="load-more">
        <div class="container">
            <div class="text">Do you want to see more projects ?</div>
            <div class="btn-ghost">
                <a href="#">Load More</a>
            </div>          
        </div>
    </div>
</section>

